@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;700&display=swap');

/* --- RESET --- */

* {
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

:root {
    --color-white: #F3EDE2;
    --color-gold: #C8A977;
    --color-yellow: #FFCD00;
    --color-red: #C5113C;
    --color-blue: #00205C;
}

html {
    font-family: 'Archivo', sans-serif;
    font-size: 16px;
}

header, footer {
    background-color: var(--color-blue);
}

/* --- HEADER --- */

.header {
    padding: 1em 0;
}

.menu-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-link {
    font-size: 1.3em;
    color: var(--color-gold);
    text-transform: uppercase;
}

.menu-link:hover {
    color: var(--color-white);
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--color-gold);
}

/* --- HERO --- */

.hero {
    background-image: linear-gradient(to bottom, rgba(32,11,50,0.3), rgba(36,24,48,1)), url(../media/damiandiaz.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
}

.hero-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    text-align: center;
}

.hero-title {
    font-size: 3rem;
    font-weight: 900;
    color: var(--color-gold);
    text-transform: uppercase;
}

.glassy {
    background-image: -webkit-linear-gradient(left, var(--color-gold) 25%, #dbb42c 37.5%, #c9a227, #b69121 62.5%, var(--color-gold) 75%);
    background-image: linear-gradient(90deg, var(--color-gold) 25%, #dbb42c 37.5%, #c9a227, #b69121 62.5%, var(--color-gold) 75%);
    background-position: right center;
    background-size: 400% auto;
    -webkit-background-clip: text;
    background-clip: text;
    color: var(--color-gold);
    -webkit-text-fill-color: transparent;
    -text-fill-color: transparent;
    transition: color 250ms linear;
}

.glassy:hover {
    background-position: left center;
    color: #c9a227;
    transition: background-position 1000ms ease-out;
}

/* --- STARS SECTION --- */

.stars {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    padding: 1em 3em;
}

.stars-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em 0;
    font-size: 2rem;
}

.star {
    font-size: 3.5rem;
    margin: 0 0.3em 0 0;
}

/* --- VIDEO SECTION --- */

.video {
    background-color: var(--color-white);
    text-align: center;
    margin: 0 0 1em 0;
}

/* --- FOOTER --- */

.social-media-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-icon {
    margin: 0.5em 0;
}

.icon-footer {
    margin: 0 0.4em;
    font-size: 1.3em;
    color: var(--color-gold);
    transition: transform .2s;
}

.icon-footer:hover {
    transform: scale(1.15) !important;
}

.footer-text {
    text-align: center;
    padding: 0 0 0.5em 0;
    color: var(--color-gold);
    font-size: 0.8rem;
}

/* --- MEDIA QUERIES --- */

@media only screen and (min-width: 992px) {
    .menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--color-gold);
    text-transform: uppercase;
}

.menu-item {
    margin: 0 1em;
}

    .hero {
        background-image: linear-gradient(to bottom, rgba(32,11,50,0.3), rgba(36,24,48,1)), url(../media/damiandiaz.webp);
        background-repeat: no-repeat;
        background-size: cover;
        height: 80vh;
}

    .hero-txt {
        transform: translate(-50%, 50%);
    }

    .hero-title {
        font-size: 3.5rem;
    }

    .icon-footer {
        margin: 0 0.5em;
        font-size: 1.5em;
        color: var(--color-gold);
        transition: transform .2s;
    }
    
    .icon-footer:hover {
        transform: scale(1.20) !important;
    }
}

@media only screen and (max-width: 768px) {
    .menu-list {
        position: fixed;
        left: -100%;
        top: 2.5rem;
        flex-direction: column;
        background-color: var(--color-blue);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .menu-list.active {
        left: 0;
    }

    .menu-item {
        margin: 1.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}