/* --- FOOTER --- */

footer {
    padding: 1em 0;
}

.social-media-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-icon {
    margin: 0.5em 0;
}

.icon-footer {
    margin: 0 0.4em;
    font-size: 1.3em;
    color: var(--color-white);
    transition: transform .2s;
    @include desktop {
        margin: 0 0.5em;
        font-size: 1.5em;
    }
}

.icon-footer:hover {
    transform: scale(1.15) !important;
    color: var(--color-lime);
    @include desktop {
        transform: scale(1.20) !important;
    }
}

.footer-text {
    text-align: center;
    padding: 0 0 0.5em 0;
    color: var(--color-white);
    font-size: 0.8rem;
}