/* --- NOSOTROS --- */

.main {
    background-color: var(--color-white);
    margin: 0 5em;
}

.us-title {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem 0;
    color: var(--color-dark-purple);
    @include tablet {
        text-align: left;
    }
}

.us-text {
    padding: 1em 0;
    line-height: 1.5;
    text-align: center;
    color: var(--color-dark-purple);
    @include tablet {
        text-align: left;
    }
}