/* --- STARS SECTION --- */

.stars-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid green;
}

.stars-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    margin: 0 30px;
}

.stars-title {
    font-size: 3rem;
}

.stars {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: auto;
    color: var(--color-russian-purple);
    background-color: var(--color-white);
    padding: 1em 3em;
    margin: 0 30px;
    border: 2px solid blue;
}

.stars-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em 0;
    font-size: 1.8rem;
    font-weight: bold;
}

.star {
    font-size: 3.2rem;
    margin: 0 0.2em 0 0;
}

.glassy {
    background-image: -webkit-linear-gradient(left, var(--color-lime) 25%, var(--color-white) 37.5%, #FFFF3F, #D4D700 62.5%, var(--color-lime) 75%);
    background-image: linear-gradient(90deg, var(--color-lime) 25%, var(--color-white) 37.5%, #FFFF3F, #D4D700 62.5%, var(--color-lime) 75%);
    background-position: right center;
    background-size: 400% auto;
    -webkit-background-clip: text;
    background-clip: text;
    color: var(--color-lime);
    -webkit-text-fill-color: transparent;
    -text-fill-color: transparent;
    transition: color 250ms linear;
}

.glassy:hover {
    background-position: left center;
    color: var(--color-white);
    transition: background-position 2000ms ease-out;
}