@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;700&display=swap');

/* --- RESET --- */

* {
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

:root {
    --color-white: #F3EDE2;
    --color-gold: #C8A977;
    --color-yellow: #FFCD00;
    --color-red: #C5113C;
    --color-blue: #00205C;
}

html {
    font-family: 'Archivo', sans-serif;
    font-size: 16px;
}

header, footer {
    background-color: var(--color-blue);
}

/* --- HEADER --- */

.header {
    position: relative;
    padding: 0 0 1em 0;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul li {
    display: inline-block;
    margin: 0 1em 0 1em;
    font-size: 1.1em;
    color: var(--color-gold);
    text-transform: uppercase;
}

/* --- HERO --- */

.hero {
    background-image: linear-gradient(to bottom, rgba(32,11,50,0.3), rgba(36,24,48,1)), url(media/damiandiaz.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
}

.hero-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-title {
    margin: 0;
    font-size: 3rem;
    font-weight: 900;
    color: var(--color-gold);
    text-transform: uppercase;
}

/* --- STARS SECTION --- */

.stars {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    padding: 1em 3em;
}

/* --- FOOTER --- */

.social-media-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-icon {
    margin: 0.5em 0;
}

.iconify {
    margin: 0 0.4em;
    font-size: 1.3em;
    color: var(--color-gold);
    transition: transform .2s;
}

.iconify {
    transform: scale(1.2);
}

/* --- MEDIA QUERIES --- */

@media only screen and (min-width: 992px) {
    .hero {
        background-image: linear-gradient(to bottom, rgba(32,11,50,0.3), rgba(36,24,48,1)), url(media/damiandiaz.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
}
}